// Sass variabler
$background-color: whitesmoke;
$font-color: rgb(49, 49, 49);

// Lille css reset
* {
    // Fjerner browser padding og margin
    margin: 0;
    padding: 0;
    // Hvordan højde og bredde udregnes
    box-sizing: border-box;
}

body,
html {
    font-size: 100%;
    // Højde 100% er med til at skabe parallax effekten
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $background-color;
    scroll-behavior: smooth;
}

header {
    // Centrér logoet
    background-color: $background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 150px;
}

nav {
    background-color: $font-color;
    width: 100%;
}

.nav_list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}

li {
    margin: 0 20px;
    color: $background-color;
    cursor: pointer;
}

.links {
    position: absolute;
    top: 55px;
    background-color: $font-color;
    color: $background-color;
    padding: 10px;
    transition: box-shadow 2000ms;
}

.index_link {
    left: 40px;
}

.some_link {
    right: 40px;
}

.links:hover {
    box-shadow: 4px 4px 2px #330000;
}

.page_title {
    text-align: center;
}

p {
    color: $font-color;
    background-color: $background-color;
    width: 75%;
    font-size: 1.5rem;
    text-align: center;
    padding: 1.5em;
    line-height: 1.5em;
    font-weight: 500;
    margin: auto;
}

.slogan {
    font-size: 2.5em;
    font-weight: 600;
    padding-top: 0.3em;
}

section {
    background-color: $background-color;
}

.section_title_index {
    display: none;
}

.parallax {
    position: relative;
    // background-attachment: fixed skaber parallax effekten
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    transition: filter 1500ms;
}

// Div elementer med parallax billeder
.pimg1 {
    background-image: url("../img/vintønden.4.webp");
    min-height: 700px;
}

.pimg2 {
    background-image: url("../img/vintønden.5.cropped.webp");
    background-position: top;
    min-height: 800px;
}

.pimg3 {
    background-image: url("../img/vintønden.2.webp");
    min-height: 600px;
}

.pimg4 {
    background-image: url("../img/vintønden.3.webp");
    min-height: 600px;
}

.pimg5 {
    background-image: url("../img/vintønden.6.webp");
    min-height: 600px;
}

.pimg6 {
    background-image: url("../img/vintønden.2.webp");
    min-height: 600px;
}

.video_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video_section p {
    text-align: center;
    line-height: 1.5em;
}

.promo_video {
    width: 75%;
    margin-top: 3em;
}

.img_slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

#slider_image {
    width: 75%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    width: 75%;
    background-color: $background-color;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 1.8em 0;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contact p {
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    width: 100%;
}

.social img {
    width: 41.16px;
    padding-top: 1px;
}

.fa {
    font-size: 3em;
    padding-right: 0.7em;
}

a {
    text-decoration: none;
    color: black;
}

/*---------------------------- SOME Page ------------------------------*/

.section_title_some {
    color: $font-color;
    text-align: center;
    padding-top: 30px;
    font-size: 2.5rem;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

figcaption {
    font-size: 1.5em;
    text-align: center;
}

.insta-fig {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 50%;
    margin: auto;
}

.insta-post {
    max-width: 90%;
    padding: 30px;
    object-fit: cover;
}

.insta-fig:last-child {
    max-width: 80%;
    padding-bottom: 30px;
}

.face-post {
    max-width: 90%;
    padding: 30px;
}

.face-fig:last-child {
    padding-bottom: 30px;
}

.linkedIn-post {
    max-width: 90%;
    padding: 30px;
}

.linkedIn-fig {
    padding-bottom: 30px;
}

.newsletter-post {
    max-width: 50%;
    padding: 30px;
}

.newsletter-fig {
    padding-bottom: 30px;
}

.infographic-post {
    max-width: 90%;
    padding: 30px;
}

.infographic-fig {
    padding-bottom: 30px;
}

// Formattering til skærme med en bredde på maks. 1024 pixels
@media screen and (max-width: 1025px) {
    p {
        font-size: 1.2rem;
    }

    .slogan {
        font-size: 2em;
        padding: 0.3em 0 1.5em;
    }

    .contact p {
        font-size: 1em;
    }

    .fa {
        padding-right: 0.3em;
    }

    .parallax {
        // Parallax effekt fjernet på mindre skærme, forbedre performance
        background-attachment: scroll;
    }
}

// Formattering til små devices
@media screen and (max-width: 600px) {
    .links {
        position: relative;
        top: 0;
        right: 0;
        left: 0;
    }

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    p {
        font-size: 0.9rem;
        width: 90%;
    }

    .slogan {
        font-size: 1.25em;
        padding: 0.3em 0 1.5em;
    }

    .fa {
        padding-right: 0.1em;
        font-size: 2em;
    }

    .social img {
        width: 30.63px;
        padding-top: 1px;
    }

    .social {
        width: 60%;
    }

    footer {
        width: 90%;
    }

    .contact p {
        font-size: 0.9em;
        width: 80%;
    }

    .contact_title,
    .social_title {
        font-size: 1.2em;
    }

    .pimg,
    .pimg2,
    .pimg3,
    .pimg4 {
        height: 400px;
    }
}
